<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/703300717AA/Documents/Learning2/SIG_DOCKER/src/test/java/SampleImageTest.java">

<classes>
    <class name="SampleImageTest"></class>
</classes></test>
</suite>